<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CertificadorGuateFacturas.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CertificadorGuateFacturas.Properties.Settings>
            <setting name="CertificadorGuateFacturas_com_guatefacturas_dte_Guatefac" serializeAs="String">
                <value>https://pdte.guatefacturas.com:443/webservices63/feltestSB/Guatefac</value>
            </setting>
        </CertificadorGuateFacturas.Properties.Settings>
    </applicationSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
